<div id="add-address-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 bottom-0 z-50 justify-center items-center">
    <div class="relative w-full sm:max-w-lg h-screen sm:h-auto">
        <div class="relative bg-white sm:rounded-xl shadow w-full h-full">
            <div class=" border-b border-gray-200">
                <div class="h-16 flex items-center rounded-t space-x-4 px-4">
                    <button type="button" class="p-1 hover:text-gray-500 text-gray-400" data-modal-toggle="add-address-modal">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                        </svg>                      
                    </button>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Добавить адрес
                    </h3>
                </div>
            </div>
            <form action="" method="post" class="p-4">
                {% csrf_token %}
                <div class="grid gap-4">
                    <div class="relative">
                        {{ form.city }}
                        <label for="address_city" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Город</label>
                    </div>
                    <div class="relative">
                        {{ form.address }}
                        <label for="address_address" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Адрес</label>
                    </div>
                </div>
                <div class="bottom-0 left-0 flex justify-center w-full p-4 sm:p-0 sm:pt-12 absolute sm:relative">
                    <button type="submit" class="w-full justify-center inline-flex items-center rounded-xl border border-transparent bg-blue-600 px-4 py-2 text font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                        <svg class="mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-lhref="#" inecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                        </svg>
                        Добавить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>