<div id="filtersModal" class="duration-300 fixed top-0 right-0 z-50 h-screen overflow-y-auto transition-transform translate-x-full bg-white w-full md:w-96 dark:bg-gray-800" tabindex="-1">
    <form class="flex h-full flex-col overflow-y-hidden bg-white shadow-xl">
        <div class="border-b h-12 md:h-16 flex items-center justify-between rounded-t space-x-4 px-4">
            <h2 class="text-lg font-medium text-gray-900">
                Фильтры <span class="filterLength ml-2 font-normal text-xs text-gray-500"></span>
            </h2>
        
            <button type="button" data-drawer-hide="filtersModal" aria-controls="filtersModal" class="-mr-1 p-1 text-gray-400 hover:text-gray-500">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>

        <div class="flex-1 overflow-y-auto">
            <div id="accordion-flush" class="divide-y divide-gray-200" data-accordion="open" data-accordion="collapse">
                <div class="p-4 md:px-4 md:py-6 relative">
                    <h3 id="accordion-category" class="-mx-4 -my-4 md:-my-6">
                        <button type="button" class="m-0 flex w-full items-center justify-between bg-white p-4 sm:px-4 sm:py-6 text-sm text-gray-400" data-accordion-target="#accordion-category-body" aria-expanded="false" aria-controls="accordion-category-body">
                            <span class="font-medium text-gray-900">
                                Категория
                                <span id="categoryParamLength" class="ml-2 text-xs font-normal text-gray-500"></span>
                            </span>
                            <span class="ml-6 flex items-center">
                                <svg data-accordion-icon class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordion-category-body" class="hidden mt-6" aria-labelledby="accordion-category">
                        <div id="mainCategoryList" class="grid grid-cols-3 gap-4">
                        </div>
                    </div>
                </div>

                <div class="p-4 md:px-4 md:py-6 relative">
                    <h3 id="accordion-type" class="-mx-4 -my-4 md:-my-6">
                        <button type="button" class="m-0 flex w-full items-center justify-between bg-white p-4 sm:px-4 sm:py-6 text-sm text-gray-400" data-accordion-target="#accordion-type-body" aria-expanded="false" aria-controls="accordion-type-body">
                            <span class="font-medium text-gray-900">
                                Тип
                                <span id="typeParamLength" class="ml-2 text-xs font-normal text-gray-500"></span>
                            </span>
                            <span class="ml-6 flex items-center">
                                <svg data-accordion-icon class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordion-type-body" class="hidden mt-6" aria-labelledby="accordion-type">
                        <div id="categoryList" class="grid grid-cols-3 gap-4">
                        </div>
                    </div>
                </div>

                <div class="p-4 md:px-4 md:py-6 relative">
                    <h3 id="accordion-brand" class="-mx-4 -my-4 md:-my-6">
                        <button type="button" class="m-0 flex w-full items-center justify-between bg-white p-4 sm:px-4 sm:py-6 text-sm text-gray-400" data-accordion-target="#accordion-brand-body" aria-expanded="false" aria-controls="accordion-brand-body">
                            <span class="font-medium text-gray-900">
                                Бренд
                                <span id="brandParamLength" class="ml-2 text-xs font-normal text-gray-500"></span>
                            </span>
                            <span class="ml-6 flex items-center">
                                <svg data-accordion-icon class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordion-brand-body" class="hidden mt-6" aria-labelledby="accordion-brand">
                        <div id="brandList" class="grid grid-cols-3 gap-4">
                        </div>
                    </div>
                </div>

                <div class="p-4 md:px-4 md:py-6 relative">
                    <h3 id="accordion-size" class="-mx-4 -my-4 md:-my-6">
                        <button type="button" class="m-0 flex w-full items-center justify-between bg-white p-4 sm:px-4 sm:py-6 text-sm text-gray-400" data-accordion-target="#accordion-size-body" aria-expanded="false" aria-controls="accordion-size-body">
                            <span class="font-medium text-gray-900">
                                Размер
                                <span id="sizeParamLength" class="ml-2 text-xs font-normal text-gray-500"></span>
                            </span>
                            <span class="ml-6 flex items-center">
                                <svg data-accordion-icon class="h-5 w-5 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordion-size-body" class="hidden mt-6" aria-labelledby="accordion-size">
                        <div id="sizeList" class="grid grid-cols-3 gap-4">
                        </div>
                    </div>
                </div>
                <div class="p-4 md:px-4 md:py-6 text-center">
                    <a href="{% url 'catalog' %}" class="text-sm inline-flex text-gray-500 hover:text-gray-600">
                        Очистить фильтры
                    </a>
                </div>
            </div>
        </div>

        <div class="w-full h-12 md:h-16 bg-white flex align-middle justify-between px-4">
            <div class="flex items-center justify-between space-x-4 w-full">
                <button id="filtersBtn" data-drawer-hide="filtersModal" aria-controls="filtersModal" type="button" class="inline-flex w-full flex-1 items-center justify-center rounded-lg border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700">
                    Сохранить
                </button>
            </div>
        </div>
    </form>
</div>