<div class="hidden md:block border-t border-gray-200 z-10 bg-white">
    <footer class="py-12 lg:py-16 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-4 gap-4">
            <div>
                <h3 class="text-sm font-medium text-gray-900">Магазин</h3>
                <ul role="list" class="mt-4 space-y-4">
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Главная</a>
                    </li>
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Обувь</a>
                    </li>
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Одежда</a>
                    </li>
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Аксессуары</a>
                    </li>
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Все товары</a>
                    </li>
                </ul>
            </div>
            <div class="">
                <h3 class="text-sm font-medium text-gray-900">Компания</h3>
                <ul role="list" class="mt-4 space-y-4">
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">О компании</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Отзывы</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Оферта</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Обратная связь</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Политика конфиденциальности</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="text-sm font-medium text-gray-900">Аккаунт</h3>
                <ul role="list" class="mt-4 space-y-4">
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Мой аккаунт</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">История заказов</a>
                    </li>

                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Адресы доставки</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Избранное</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Корзина</a>
                    </li>
                
                </ul>
            </div>
            <div class="">
                <h3 class="text-sm font-medium text-gray-900">Помощь</h3>
                <ul role="list" class="mt-4 space-y-4">
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Где мой заказ?</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Бонусная программа</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Обмен и возврат</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Подобрать размер</a>
                    </li>
                
                    <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-gray-600 duration-150">Доставка и оплата</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
