<div id="menuSort" class="duration-150 fixed top-0 right-0 z-50 h-screen overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
    <form method="GET" action="" class="relative h-full">
        <div class="border-b border-gray-200">
            <div class="h-16 flex items-center justify-between rounded-t space-x-4 px-4">
                <h2 class="text-lg font-medium text-gray-900">Фильтры</h2>
            
                <button type="button" data-drawer-hide="menuSort" aria-controls="menuSort" class="-mr-1 p-1 text-gray-400 hover:text-gray-500">
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="overflow-y-auto" style="max-height: calc(100vh - 130px);">
            <div id="accordion-flush" class="divide-y divide-gray-200" data-accordion="open" data-accordion="collapse">
                <div class="px-4 py-6 relative">
                    <h3 id="accordion-category" class="-mx-4 -my-6">
                        <button type="button" class="m-0 flex w-full items-center justify-between bg-white px-4 py-6 text-sm text-gray-400" data-accordion-target="#accordion-category-body" aria-expanded="false" aria-controls="accordion-category-body">
                            <span class="font-medium text-gray-900">
                                Категория
                                {% if active_category_tags %}
                                <span class="ml-1.5 rounded bg-gray-200 py-0.5 px-1.5 text-xs font-semibold tabular-nums text-gray-700">{{ active_category_tags|length }}</span>
                                {% endif %}
                            </span>
                            <span class="ml-6 flex items-center">
                                <svg data-accordion-icon class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordion-category-body" class="hidden mt-6" aria-labelledby="accordion-category">
                        <div class="space-y-6">
                            {% for object in categories %}
                            <div class="flex items-center">
                                <input {% if object.slug in active_category_tags %}checked{% endif %} id="category-{{ object.slug }}" name="category" value="{{ object.slug }}" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                <label for="category-{{ object.slug }}" class="ml-3 text-sm text-gray-500">{{ object.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="px-4 py-6 relative">
                    <h3 id="accordion-type" class="-mx-4 -my-6">
                        <button type="button" class="m-0 flex w-full items-center justify-between bg-white px-4 py-6 text-sm text-gray-400" data-accordion-target="#accordion-type-body" aria-expanded="false" aria-controls="accordion-type-body">
                            <span class="font-medium text-gray-900">
                                Тип
                                {% if active_type_tags %}
                                <span class="ml-1.5 rounded bg-gray-200 py-0.5 px-1.5 text-xs font-semibold tabular-nums text-gray-700">{{ active_type_tags|length }}</span>
                                {% endif %}
                            </span>
                            <span class="ml-6 flex items-center">
                                <svg data-accordion-icon class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordion-type-body" class="hidden mt-6" aria-labelledby="accordion-type">
                        <div class="grid grid-cols-2 gap-x-2 gap-y-6">
                            {% for object in category_type_list %}
                            <div class="flex items-center">
                                <input {% if object.slug in active_type_tags %}checked{% endif %} id="type-{{ object.slug }}" name="type" value="{{ object.slug }}" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                <label for="type-{{ object.slug }}" class="ml-3 text-sm text-gray-500">{{ object.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="px-4 py-6 relative">
                    <h3 id="accordion-brand" class="-mx-4 -my-6">
                        <button type="button" class="m-0 flex w-full items-center justify-between bg-white px-4 py-6 text-sm text-gray-400" data-accordion-target="#accordion-brand-body" aria-expanded="false" aria-controls="accordion-brand-body">
                            <span class="font-medium text-gray-900">
                                Бренд
                                {% if active_brand_tags %}
                                <span class="ml-1.5 rounded bg-gray-200 py-0.5 px-1.5 text-xs font-semibold tabular-nums text-gray-700">{{ active_brand_tags|length }}</span>
                                {% endif %}
                            </span>
                            <span class="ml-6 flex items-center">
                                <svg data-accordion-icon class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordion-brand-body" class="hidden mt-6" aria-labelledby="accordion-brand">
                        <div class="grid grid-cols-2 gap-x-2 gap-y-6">
                            {% for object in brand_list %}
                            <div class="flex items-center">
                                <input {% if object.slug in active_brand_tags %}checked{% endif %} id="brand-{{ object.slug }}" name="brand" value="{{ object.slug }}" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                <label for="brand-{{ object.slug }}" class="ml-3 text-sm text-gray-500">{{ object.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="px-4 py-6 relative">
                    <h3 id="accordion-color" class="-mx-4 -my-6">
                        <button type="button" class="m-0 flex w-full items-center justify-between bg-white px-4 py-6 text-sm text-gray-400" data-accordion-target="#accordion-color-body" aria-expanded="false" aria-controls="accordion-color-body">
                            <span class="font-medium text-gray-900">
                                Цвет
                                {% if active_color_tags %}
                                <span class="ml-1.5 rounded bg-gray-200 py-0.5 px-1.5 text-xs font-semibold tabular-nums text-gray-700">{{ active_color_tags|length }}</span>
                                {% endif %}
                            </span>
                            <span class="ml-6 flex items-center">
                                <svg data-accordion-icon class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordion-color-body" class="hidden mt-6" aria-labelledby="accordion-color">
                        <div class="grid grid-cols-2 gap-x-2 gap-y-6">
                            {% for object in color_list %}
                            <div class="flex items-center">
                                <input {% if object.slug in active_color_tags %}checked{% endif %} id="color-{{ object.id }}" name="color" value="{{ object.id }}" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                <label for="color-{{ object.id }}" class="ml-3 text-sm text-gray-500">{{ object.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="px-4 py-6">
                    <h3 id="accordion-size" class="-mx-4 -my-6">
                        <button type="button" class="m-0 flex w-full items-center justify-between bg-white px-4 py-6 text-sm text-gray-400" data-accordion-target="#accordion-size-body" aria-expanded="false" aria-controls="accordion-size-body">
                            <span class="font-medium text-gray-900">
                                Размер
                                {% if active_size_tags %}
                                <span class="ml-1.5 rounded bg-gray-200 py-0.5 px-1.5 text-xs font-semibold tabular-nums text-gray-700">{{ active_size_tags|length }}</span>
                                {% endif %}
                            </span>
                            <span class="ml-6 flex items-center">
                                <svg data-accordion-icon class="h-5 w-5 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </button>
                    </h3>
                    <div id="accordion-size-body" class="hidden mt-6" aria-labelledby="accordion-size">
                        <div class="grid grid-cols-2 gap-x-2 gap-y-6">
                            {% for object in size_list %}
                            <div class="flex items-center">
                                <input {% if object.slug in active_size_tags %}checked{% endif %} id="size-{{ object.id }}" name="size" value="{{ object.id }}" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                <label for="size-{{ object.id }}" class="ml-3 text-sm text-gray-500">{{ object.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-t border-gray-200 absolute bottom-0 w-full h-16 bg-white flex align-middle justify-between px-4">
            <div class="flex items-center justify-between space-x-4 w-full">
                <a href="{% url 'category' %}" class="inline-flex items-center rounded-full p-2 text-gray-400 hover:text-gray-500">
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                    </svg>
                </a>
                <button type="submit" class="inline-flex w-full flex-1 items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                    <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z" />
                    </svg>
                    Фильтровать
                </button>
            </div>
        </div>
    </form>
</div>