<div id="searchModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 bottom-0 z-50 justify-center items-center">
    <div class="relative w-full sm:max-w-lg h-screen sm:h-auto">
        <div class="relative bg-white sm:rounded-xl shadow w-full h-full">
            <div class=" border-b border-gray-200">
                <div class="h-12 flex items-center">
                    <div class="w-full relative">
                        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <form id="searchForm" onsubmit="">
                            <input oninput="" id="searchInput" value="{{ request.GET.search }}" name="search" class="block w-full rounded-md border-none bg-white py-2 pl-10 pr-3 text-sm my-auto placeholder-gray-500 focus:ring-0 focus:text-gray-900" placeholder="Поиск по магазину">
                        </form>
                        <button type="button" data-modal-toggle="searchModal" class="z-10 absolute inset-y-0 right-0 flex items-center pr-3">
                            <span class="text-gray-500 duration-150 hover:text-gray-600 text-sm">Назад</span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="sm:h-80 scroll-py-2 divide-y divide-gray-500 divide-opacity-10 overflow-y-auto">
                <li class="p-2">
                    <ul class="text-sm text-gray-700" id="searchResult">
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>