{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-auto py-12 space-y-6 md:space-y-10 md:py-16 max-w-2xl lg:max-w-7xl px-4 sm:px-6 lg:px-8">
	
	<div>
		<div class="loadedContent hidden text-xl md:text-2xl font-bold text-gray-900">Оформление заказа</div>
		<div class="preloadedContent">
			<div class="py-1"><div class="animate-pulse h-5 md:h-6 bg-gray-300 rounded-full w-52 md:w-64"></div></div>
		</div>
	</div>

	<div class="relative grid grid-cols-1 gap-x-10 md:grid-cols-2 space-y-16 md:space-y-0">
		<div class="">				
			<div>
				<div class="loadedContent hidden text-sm text-gray-500">Итоговая стоимость</div>
				<div class="preloadedContent">
					<div class="py-1"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-36"></div></div>
				</div>
			</div>
			
			<div class="h-1"></div>
			
			<div>
				<div class="loadedContent hidden text-xl md:text-2xl font-bold text-gray-900 checkoutTotalPriceValues"></div>
				<div class="preloadedContent">
					<div class="py-1"><div class="animate-pulse h-5 md:h-6 bg-gray-300 rounded-full w-24 md:w-36"></div></div>
				</div>
			</div>

			<div class="border-t border-gray-200 mt-6">
				<div id="checkoutItems" class="loadedContent hidden divide-y divide-gray-200">
				</div>
				<div id="checkoutItemsPreloaded" class="preloadedContent divide-y divide-gray-200">
				</div>
			</div>

			<div class="space-y-6 border-t border-gray-200 pt-6">

				<div class="flex items-center justify-between">
					<div>
						<div class="loadedContent hidden text-sm text-gray-500">Подытог</div>
						<div class="preloadedContent">
							<div class="py-1"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-24"></div></div>
						</div>
					</div>
					<div>
						<div id="checkoutAllItemsPrice" class="loadedContent hidden text-sm text-gray-900"></div>
						<div class="preloadedContent">
							<div class="py-1"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-20"></div></div>
						</div>
					</div>
				</div>

				<div class="flex items-center justify-between">
					<div>
						<div class="loadedContent hidden text-sm text-gray-500">Доставка</div>
						<div class="preloadedContent">
							<div class="py-1"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-20"></div></div>
						</div>
					</div>
					<div>
						<div id="checkoutDeliveryPrice" class="loadedContent hidden text-sm text-gray-900">0 ₽</div>
						<div class="preloadedContent">
							<div class="py-1"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-16"></div></div>
						</div>
					</div>
				</div>

				<div class="flex items-center justify-between">
					<div>
						<div class="loadedContent hidden text-sm text-gray-500">Скидка</div>
						<div class="preloadedContent">
							<div class="py-1"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-16"></div></div>
						</div>
					</div>
					<div>
						<div id="checkoutSalePrice" class="loadedContent hidden text-sm text-gray-900">0 ₽</div>
						<div class="preloadedContent">
							<div class="py-1"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-14"></div></div>
						</div>
					</div>
				</div>

				<div class="flex items-center justify-between border-t border-gray-200 font-medium pt-6">
					<div>
						<div class="loadedContent hidden text-base text-gray-900">Итого</div>
						<div class="preloadedContent">
							<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-16"></div></div>
						</div>
					</div>
					<div>
						<div class="loadedContent hidden text-base text-gray-900 checkoutTotalPriceValues"></div>
						<div class="preloadedContent">
							<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-20"></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="md:row-start-1">
			<form action="" method="POST" id="checkoutForm" class="space-y-10">
				<div>
					<div>
						<div class="loadedContent hidden text-lg md:text-xl font-medium text-gray-900">Персональные данные</div>
						<div class="preloadedContent">
							<div class="py-1"><div class="animate-pulse h-5 bg-gray-300 rounded-full w-60"></div></div>
						</div>
					</div>
	
					<div>
						<div id="customerForm" class="loadedContent hidden mt-6 grid md:grid-cols-2 gap-6 md:gap-y-8">
							<div id="first_nameField" class="relative">
								<label for="first_name" class="block text-sm font-medium leading-6 text-gray-900">Имя</label>
								<div class="relative mt-2">
									<input type="text" name="first_name" placeholder="Введите имя" id="first_name" class="block shadow-sm leading-6 w-full text-gray-900 ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 pr-10 focus:ring-2 focus:ring-inset focus:ring-blue-600 text-sm">
									<div></div>
								</div>
								<p class="absolute mt-1 text-xs text-red-600"></p>
							</div>


							<div id="last_nameField" class="relative">
								<label for="last_name" class="block text-sm font-medium leading-6 text-gray-900">Фамилия</label>
								<div class="relative mt-2 rounded-md">
									<input type="text" name="last_name" placeholder="Введите фамилию" id="last_name" class="block shadow-sm leading-6 w-full text-gray-900 ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 pr-10 focus:ring-2 focus:ring-inset focus:ring-blue-600 text-sm">
									<div></div>
								</div>
								<p class="absolute mt-1 text-xs text-red-600"></p>
							</div>

							<div id="phoneField" class="relative">
								<label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Номер телефона</label>
								<div class="relative mt-2 rounded-md">
									<input type="text" name="phone" placeholder="Введите номер телефона" id="phone" class="block shadow-sm leading-6 w-full text-gray-900 ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 pr-10 focus:ring-2 focus:ring-inset focus:ring-blue-600 text-sm">
									<div></div>
								</div>
								<p class="absolute mt-1 text-xs text-red-600"></p>
							</div>
	
							<div id="emailField" class="relative">
								<label for="email" class="block text-sm font-medium leading-6 text-gray-900">Почта</label>
								<div class="relative mt-2 rounded-md">
									<input type="text" name="email" placeholder="Введите почту" id="email" class="block shadow-sm leading-6 w-full text-gray-900 ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 pr-10 focus:ring-2 focus:ring-inset focus:ring-blue-600 text-sm">
									<div></div>
								</div>
								<p class="absolute mt-1 text-xs text-red-600"></p>
							</div>
						</div>
						<div class="preloadedContent mt-6 grid md:grid-cols-2 gap-6 md:gap-y-8">
							<div>
								<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-20"></div></div>
								<div class="relative mt-2 rounded-md shadow-sm animate-pulse">
									<div class="w-full ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 focus:ring-2 focus:ring-inset">
										<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-20"></div></div>
									</div>
								</div>
							</div>
							<div>
								<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-20"></div></div>
								<div class="relative mt-2 rounded-md shadow-sm animate-pulse">
									<div class="w-full ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 focus:ring-2 focus:ring-inset">
										<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-20"></div></div>
									</div>
								</div>
							</div>
							<div>
								<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-32"></div></div>
								<div class="relative mt-2 rounded-md shadow-sm animate-pulse">
									<div class="w-full ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 focus:ring-2 focus:ring-inset">
										<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-20"></div></div>
									</div>
								</div>
							</div>
							<div>
								<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-20"></div></div>
								<div class="relative mt-2 rounded-md shadow-sm animate-pulse">
									<div class="w-full ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 focus:ring-2 focus:ring-inset">
										<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-20"></div></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div>
					<div>
						<div class="loadedContent hidden text-lg md:text-xl font-medium text-gray-900">Тип доставки</div>
						<div class="preloadedContent">
							<div class="py-1"><div class="animate-pulse h-5 bg-gray-300 rounded-full w-32"></div></div>
						</div>
					</div>
					<div>
						<div id="checkoutDeliveryLabels" class="loadedContent hidden mt-6 -space-y-px rounded-lg bg-white"></div>
						<div class="preloadedContent">
							<div class="mt-6 -space-y-px rounded-lg bg-white" id="checkoutDeliveryLabels">
					
								<div class="rounded-tl-md rounded-tr-md duration-150 relative border p-4 flex cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:bg-gray-50">
									<div class="animate-pulse mt-0.5 rounded-full h-4 w-4"></div>
									<span class="ml-3 w-full">
										<div class="flex justify-between">
											<div class="py-1"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-28"></div></div>
											<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-8"></div></div>
										</div>
										<div class="py-1"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-48"></div></div>
									</span>
								</div>
								
								<div class="rounded-tl-md rounded-tr-md duration-150 relative border p-4 flex cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:bg-gray-50">
									<div class="animate-pulse mt-0.5 rounded-full h-4 w-4"></div>
									<span class="ml-3 w-full">
										<div class="flex justify-between">
											<div class="py-1"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-28"></div></div>
											<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-8"></div></div>
										</div>
										<div class="py-1"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-48"></div></div>
									</span>
								</div>

								<div class="rounded-tl-md rounded-tr-md duration-150 relative border p-4 flex cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:bg-gray-50">
									<div class="animate-pulse mt-0.5 rounded-full h-4 w-4"></div>
									<span class="ml-3 w-full">
										<div class="flex justify-between">
											<div class="py-1"><div class="animate-pulse h-3 bg-gray-300 rounded-full w-28"></div></div>
											<div class="py-1.5"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-8"></div></div>
										</div>
										<div class="py-1"><div class="animate-pulse h-3 bg-gray-200 rounded-full w-48"></div></div>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="hidden" id="checkoutAddressForm">
					<h3 class="text-lg md:text-xl font-medium text-gray-900">Адрес доставки</h3>
	
					<div class="mt-6 grid md:grid-cols-2 gap-6 md:gap-y-8">
						<div id="cityField" class="relative">
							<label for="city" class="block text-sm font-medium leading-6 text-gray-900">Город</label>
							<div class="relative mt-2 rounded-md">
								<input type="text" name="city" placeholder="Введите город" id="city" class="block shadow-sm leading-6 w-full text-gray-900 ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 pr-10 focus:ring-2 focus:ring-inset focus:ring-blue-600 text-sm">
								<div></div>
							</div>
							<p class="absolute mt-1 text-xs text-red-600"></p>
						</div>

						<div id="zipcodeField" class="relative">
							<label for="zipcode" class="block text-sm font-medium leading-6 text-gray-900">Почтовый индекс</label>
							<div class="relative mt-2 rounded-md">
								<input type="text" name="zipcode" placeholder="Введите почтовый индекс" id="zipcode" class="block shadow-sm leading-6 w-full text-gray-900 ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 pr-10 focus:ring-2 focus:ring-inset focus:ring-blue-600 text-sm">
								<div></div>
							</div>
							<p class="absolute mt-1 text-xs text-red-600"></p>
						</div>

						<div id="addressField" class="relative col-span-1 md:col-span-2">
							<label for="address" class="block text-sm font-medium leading-6 text-gray-900">Адрес доставки</label>
							<div class="relative mt-2 rounded-md">
								<input type="text" name="address" placeholder="Введите адрес" id="address" class="block shadow-sm leading-6 w-full text-gray-900 ring-1 rounded-md border-0 ring-inset ring-gray-300 placeholder:text-gray-400 py-2 px-3 pr-10 focus:ring-2 focus:ring-inset focus:ring-blue-600 text-sm">
								<div></div>
							</div>
							<p class="absolute mt-1 text-xs text-red-600"></p>
						</div>
					</div>
				</div>
	
				<div>
					<div class="loadedContent hidden w-full flex justify-end">
						<!-- <button onclick="loadPage()">aa</button> -->
						<button id="checkoutButton" type="submit" class="w-full md:w-auto rounded-lg border border-transparent bg-blue-700 py-2.5 px-5 text-sm font-medium text-white hover:bg-blue-800">Оплатить</button>
					</div>
					<div class="preloadedContent"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	var productCheckoutPreloader = `
	<div class="flex py-4">
		<div class="animate-pulse h-20 w-20 overflow-hidden rounded-xl">
			<div class="flex items-center justify-center w-full h-full bg-gray-300 rounded-xl">
				<svg class="w-8 h-8 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
					<path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
				</svg>
			</div>
		</div>
		<div class="flex flex-1 flex-col ml-4">
			<div class="animate-pulse my-1 h-3 bg-gray-300 rounded-full w-24 md:w-36"></div>
			<div class="animate-pulse my-1 h-3 bg-gray-200 rounded-full w-16 md:w-24 mt-2"></div>
			<div class="animate-pulse my-1 h-3 bg-gray-200 rounded-full w-12 md:w-16"></div>
		</div>
		<div class="flex flex-col justify-between items-end">
			<div class="ml-2 flex flex-col justify-between items-end">
				<div class="animate-pulse my-1 h-4 bg-gray-300 rounded-full w-16 md:w-20"></div>
				<div class="animate-pulse my-1 h-3 bg-gray-200 rounded-full w-12 md:w-24"></div>
			</div>
		</div>
	</div>
	`;
    var preview = '';
    for (var i = 0; i < 4; i++) preview += productCheckoutPreloader;
    document.getElementById('checkoutItemsPreloaded').innerHTML = preview;
</script>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/checkoutPage.js' %}"></script>
{% endblock scripts %}