{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-auto py-12 space-y-12 md:space-y-16 md:py-16 max-w-2xl lg:max-w-7xl px-4 sm:px-6 lg:px-8">
    <div id="homeCategoryList" class="mx-auto grid grid-cols-2 gap-3 sm:grid-cols-3 sm:gap-y-0 sm:gap-6 lg:gap-8">
    </div>
    
    <div id="homePage" class="space-y-16">
        <div class="">
            <div class="flex items-center justify-between">
                <div class="my-1.5 h-5 bg-gray-200 rounded-full w-32"></div>
                <div class="my-1 h-3 bg-gray-200 rounded-full w-24"></div>
            </div>
            <div id="homeNewItemsPreloader" class="mt-10 grid grid-cols-2 gap-y-4 gap-x-4 md:gap-x-6 md:gap-y-8 md:grid-cols-4 lg:gap-x-8 lg:gap-y-10">
            </div>
        </div>
    </div>
</div>
<script>
    var catPreloader = `
    <div class="animate-pulse group relative h-64 sm:h-96 overflow-hidden sm:aspect-w-4 sm:aspect-h-5 rounded-xl flex flex-col xl:w-auto">
        <span aria-hidden="true" class="absolute inset-0">
            <div class="flex items-center justify-center w-full h-full bg-gray-300 rounded">
                <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                    <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
                </svg>
            </div>
        </span>
    </div>
    `;
    var preview = '';
    for (var i = 0; i < 3; i++) preview += catPreloader;
    document.getElementById('homeCategoryList').innerHTML = preview;
    preview = '';
    for (var i = 0; i < 8; i++) preview += productCardPreloader;
    document.getElementById('homeNewItemsPreloader').innerHTML = preview;
</script>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/homePage.js' %}"></script>
{% endblock scripts %}
