{% extends 'base.html' %}


{% block content %}
<div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-0 sm:w-full sm:max-w-sm">
    <h1 class="text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Управление аккаунтом</h1>
    <form action="" method="POST" class="mt-12 space-y-6">
        {% csrf_token %}
		<div class="mt-6 grid grid-cols-1 gap-6">
			{% for f in form %}
			<div class="">
				<div class="relative col-span-2 sm:col-span-1">
                    {{ f }}
					<label for="{{ f.name }}" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">{{ f.label }}</label>
				</div>
				{% if f.errors %}
				<div class="mt-2">
					<span class="text-sm text-red-600">{{ f.errors }}</span>
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>

		<div class="flex items-center justify-between">
			<div class="text-sm">
			  <a href="{% url 'password-change' %}" class="text-blue-600 hover:text-blue-500">Изменить пароль</a>
			</div>
		</div>
    
        <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500">Сохранить</button>
        </div>
    </form>
</div>
{% endblock %}
