{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-24 lg:pb-32">
    <div class="py-8">
        <h1 id="wishTitle" class="text-3xl font-bold tracking-tight text-gray-900">
            <div class="py-2"><div class="h-5 bg-gray-300 rounded-full w-36"></div></div>
        </h1>
    </div>

    <div id="wishList" class="mt-10 grid grid-cols-2 gap-y-4 gap-x-4 md:gap-x-6 md:gap-y-8 md:grid-cols-3 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-10">
    </div>
</div>

<script>
    var preview = '';
    for (var i = 0; i < 8; i++) preview += productCardPreloader;
    document.getElementById('wishList').innerHTML = preview;
</script>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/wishPage.js' %}"></script>
{% endblock %}
