{% extends 'base.html' %} {% block content %}
<h1>PRODUCTS</h1>
<a href="{% url 'product-create' %}">Create</a>
{% for object in object_list %}
<div>{{ object.name }}</div>
<div>{{ object.brand }}</div>
<div>{{ object.description }}</div>
<div>{{ object.category }}</div>
<div>{{ object.price }}</div>
{% for photo in object.productphoto_set.all %}
<img src="{{ photo.photo.url }}" alt="" />
{% endfor %}
<div class="">
  <a href="{% url 'product' object.id %}">View</a>
  <a href="{% url 'product-update' object.id %}">Edit</a>

  <form method="POST" action="{% url 'product-delete' object.id %}">
    {% csrf_token %}<input type="submit" value="Delete" />
  </form>
</div>
<br />
{% endfor %}
{% endblock %}
