{% extends 'base_adm.html' %}
{% load static %}


{% block title %}
ADM Товары
{% endblock title %}


{% block content %}
<div class="flex items-center">
    <div class="flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">
            Товары <span class="ml-2 text-sm font-normal text-gray-500">{{ object_list|length }}</span>
        </h1>
    </div>
    <div class="flex-none">
        <button type="button" onclick="resetProductForm()" data-drawer-target="productModal" data-drawer-show="productModal" data-drawer-placement="right" class="flex items-center justify-center rounded-full bg-blue-600 p-1 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
            </svg>
        </button>
    </div>
</div>
<div class="mt-8 flex flex-col">
    <div class="-my-2 overflow-x-auto">
        <div class="inline-block min-w-full py-2 align-middle">
            <div class="overflow-hidden border rounded-lg">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"></th>
                            <th class="whitespace-nowrap py-3.5 px-2 text-left text-sm font-semibold text-gray-900">Название</th>
                            <th class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900 hidden lg:table-cell">Описание</th>
                            <th class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900 hidden lg:table-cell">Категория</th>
                            <th class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Цена</th>
                            <th class="whitespace-nowrap px-2 py-3.5 text-center text-sm font-semibold text-gray-900 hidden lg:table-cell">В наличии</th>
                            <th class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-6"></th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white" id="productList"> 
                        {% for element in object_list %}
<tr>
<td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6">
    <div class="h-8 w-8 flex-shrink-0">
        <img class="h-8 w-8 rounded-lg" src="{{ element.images.all.0.image.url }}" alt="">
    </div>
</td>
<td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">{{ element.name }}</td>
<td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 hidden lg:table-cell">{{ element.description|slice:"24" }}...</td>
<td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 hidden lg:table-cell">{{ element.category.name }}</td>
<td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">{{ element.price }} ₽</td>
<td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 hidden lg:table-cell">
    {% if element.in_stock %}
    <svg class="mx-auto h-5 w-5 flex-shrink-0 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
    </svg>
    {% endif %}
</td>
<td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <div class="flex items-center justify-end">
        <button type="button" id="productDropwownBtn-{{ element.pk }}" data-dropdown-placement="bottom-end" data-dropdown-toggle="productDropwown-{{ element.pk }}" data-dropdown-delay={500} class="-m-2 flex items-center rounded-full p-2 text-gray-400 hover:text-gray-600">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z"></path>
            </svg>
        </button>
    </div>
</td>
<div id="productDropwown-{{ element.pk }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-md shadow-lg ring-1 ring-black ring-opacity-5">
    <ul class="p-1 space-y-1 text-sm text-gray-700" aria-labelledby="productDropwownBtn-{{ element.pk }}">
        <li>
            <a href="{% url 'product' element.pk %}" class="hover:bg-gray-100 hover:text-gray-900 duration-150 text-gray-700 flex items-center py-2 px-4 rounded-md">
                Подробнее
            </a>
        </li>
        <li>
            <button type="button" onclick="openProductModal({{ element.pk }})" data-drawer-target="productModal" data-drawer-show="productModal" data-drawer-placement="right" data-id="{{ element.pk }}" class="editProductBtn hover:bg-gray-100 hover:text-gray-900 duration-150 text-gray-700 flex items-center py-2 px-4 rounded-md">
                Редактировать
            </button>
        </li>
        <li>
            <a href="#" class="hover:bg-gray-100 hover:text-gray-900 duration-150 text-gray-700 flex items-center py-2 px-4 rounded-md">
                Удалить
            </a>
        </li>
    </ul>
</div>
</tr>
{% endfor %}
                    </tbody>
                </table>
                <h2 class="hidden" id="productListEmpty">Ничего не найдено</h2>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block components %}
{% include 'adm/components/productModal.html' %}
{% endblock components %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/product_list.js' %}"></script>
{% endblock scripts %}



<!-- Старые строки таблицы -->
