<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var user = '{{ request.user }}';

        function getToken() {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, 'csrftoken'.length + 1) === ('csrftoken' + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring('csrftoken'.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken();

        function getCookie() {
            var cookies = document.cookie.split(";");
            console.log(cookies)
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].split("=");

                if ("cart" == cookie[0].trim()) {
                    return decodeURIComponent(cookie[1]);
                }
            }
            return null;
        }

        var cart = JSON.parse(getCookie());
        if (cart == undefined) {
            cart = {}
            console.log('CART CREATED')
            document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=path=/'
        }
        console.log(cart);
    </script>
</head>
<body>
    {% block header %}
    {% include 'components/header.html' %}
    {% endblock %}  

    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>