<!DOCTYPE html>
{% load static %}
<html lang="en" class="h-full overflow-y-auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
    <title>{% block title %}Title{% endblock %}</title>
    <script type="text/script" src="{% static 'flowbite/plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
</head>
<body class="flex flex-col justify-between min-h-screen" id="body">
    {% include 'components/header.html' %}

    <div id="pageContent" class="md:mb-auto md:mt-16 mb-12"> 
        {% block content %}
        {% endblock %}
    </div>

    {% include 'components/searchModal.html' %}
    {% include 'components/cartModal.html' %}

    <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'flowbite/dist/flowbite.min.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>