<!DOCTYPE html>
{% load compress %}
{% load static %}
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
    {% endcompress %}
    <title>{% block title %}Title{% endblock %}</title> 
    <script type="text/script" src="{% static '../node_modules/flowbite/plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/getCookie.js' %}"></script>
    </script>
</head>
<body class="flex flex-col justify-between min-h-screen">
    {% include 'components/preloader.html' %}
    {% include 'components/header.html' %}
    {% include 'components/message.html' %}

    <div class="md:mb-auto md:mt-16 mb-12"> 
        {% block content %}
        {% endblock %}
    </div>

    {% if request.user.is_anonymous %}
    {% include 'components/permissionModal.html' %}
    {% endif %}

    {% include 'components/searchModal.html' %}
    {% include 'components/cartModal.html' %}
    {% include 'components/chat.html' %}
    {% include 'components/footer.html' %}
    

    <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wishlist.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
    <script type="text/javascript" src="{% static 'flowbite/dist/flowbite.min.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>