.overflow-y-auto::-webkit-scrollbar {
    width: 0.2em;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.200);
}

.animate-spin-left {
    animation: spinRight 1s linear infinite;
}

@keyframes spinRight {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
