{% extends 'base.html' %}


{% block content %}
<div class="mx-auto py-16 px-4 sm:py-24 sm:px-0 sm:max-w-lg">
    <div class="mx-auto max-w-3xl">
        <div class="justify-center space-x-4 flex items-center">
            <!-- <a href="{% url 'account' %}" class="p-1 hover:text-gray-500 text-gray-400">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
            </a> -->
            <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                Адресы доставки
            </h1>
        </div>
    </div>

    <div class="mt-12">
        {% if object_list %}
        <ul role="list" class="divide-y divide-gray-200">
            {% for object in object_list %}
            <li class="bg-white py-5">
                <div class="flex justify-between items-center">
                    <h4 class="font-medium text-gray-900">Адрес {{ forloop.counter }}</h4>
                    <form action="{% url 'address-delete' object.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="inline-flex items-center rounded-full border border-gray-300 bg-white px-2.5 py-0.5 text-sm font-medium leading-5 text-gray-700 shadow-sm hover:bg-gray-50">
                            Удалить
                        </button>
                    </form>
                </div>
                <p class="mt-1 text-sm text-gray-500">Город {{ object.city }}, {{ object.address }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="mt-12">
            <button data-modal-target="add-address-modal" data-modal-toggle="add-address-modal" type="button" class="w-full justify-center inline-flex items-center rounded-xl border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                <svg class="mr-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-lhref="#"inecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>                      
                Добавить адрес
            </button>
        </div>
    </div>
</div>
</div>

{% include 'components/addressCreate.html' %}
{% endblock content %}
