{% extends 'base.html' %}

{% block content %}
<h1>CART LIST</h1>
{% for object in items %}
<div>{{ object.product.name }}</div>
<div>{{ object.product.brand }}</div>
<div>{{ object.product.description }}</div>
<div>{{ object.product.category }}</div>
<div>{{ object.product.price }}</div>
{% for photo in object.product.photos %}
<img src="{{ photo.photo.url }}" alt="">
{% empty %}
<p>Нет фото</p>
{% endfor %}
<button data-product="{{ object.product.id }}" data-action="remove" class="addToCart">Меньше</button>
<button data-product="{{ object.product.id }}" data-action="add" class="addToCart">Больше</button>
{% endfor %}
{% endblock %}
