{% extends 'base.html' %}

{% block content %}

<div class="">
<h3>Товары</h3>
{% for object in object_list %}
<!-- {% for photo in object.productphoto_set.all %}
<img src="{{ photo.photo.url }}" alt="" />
{% endfor %} -->
<div class="">
  <a href="{% url 'product-update' object.id %}">Edit</a>
</div>

<button data-product="{{ object.id }}" data-action="add" class="addToCart">Buy</button>
{% if object in request.user.wishlist.all %}
<button data-product="{{ object.id }}" data-action="delete" class="addToWishlist">Из избранного</button>
{% else %}
<button data-product="{{ object.id }}" data-action="add" class="addToWishlist">Лайк</button>
{% endif %}
{% endfor %}
</div>


<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="pb-8">
      <div class="flex flex-wrap gap-4">
        {% for brand in brands %}
        <a href="{% url 'main' %}?q={{ brand.name }}" class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-3 cursor-pointer bg-white text-gray-900 shadow-sm undefined" x-state:on:size.instock="In Stock" x-state:off:size.instock="Out of Stock" x-description="Active: &quot;ring-2 ring-indigo-500&quot;" :class="{ 'ring-2 ring-indigo-500': (active === 'XS'), 'undefined': !(active === 'XS') }">
            <input type="radio" x-model="value" name="size-choice" value="XS" class="sr-only" aria-labelledby="size-choice-1-label">
            <span id="size-choice-1-label">{{brand.name}}</span>
            <span class="pointer-events-none absolute -inset-px rounded-md border-2 border-transparent" aria-hidden="true" x-description="Active: &quot;border&quot;, Not Active: &quot;border-2&quot;	Checked: &quot;border-indigo-500&quot;, Not Checked: &quot;border-transparent&quot;" :class="{ 'border': (active === 'XS'), 'border-2': !(active === 'XS'), 'border-indigo-500': (value === 'XS'), 'border-transparent': !(value === 'XS') }"></span>
        </a>
        {% endfor %}
      </div>
    </div>

    <h2 class="sr-only">Products</h2>
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      {% for object in object_list %}
      {% include 'components/productCard.html' %}
      {% empty %}
      <p>Ничего не найдено</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}